<!doctype html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <title>Raspi Camera</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 </head>
 <body>

  <h1>Camera</h1>
  <hr>
  <p>
    <a href="/snap/">Take a picture</a>
  </p>
  <div>
   <img width="500" height="375" src="{{ url_for('static', filename='currentimg.jpg') }}?t={{ now }}">
   <img width="500" height="375" src="{{ url_for('static', filename='currentflir.png') }}?t={{ now }}">
   <a href="{{ url_for('static', filename='currentflir.json') }}">Download raw FLiR data</a>
  </div>
 </body>
</html>
